<div class="container dashboard" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="95%">
    <div class="container" fxLayout="row" fxLayoutAlign="center none">
      <div fxFlex="0 1 95%" class="deshboard-section mt2">

        <!-- Table -->
        <div class="container mat-elevation-z2" @rightSlideEffect>
          <mat-card>
            <mat-card-content>

              <!-- Table Head-->
              <div class="table-head">
                <span>
                  <h2>Employee Table</h2>
                </span>
                <span>
                  <mat-chip> Total records: {{employeeList.length}}</mat-chip>
                </span>
                <span class="search">
                  <mat-form-field class="mat-form-field-wrapper mat-form-field-outline-start mat-form-field-outline-end"
                    appearance="outline">
                    <mat-icon matSuffix>search</mat-icon>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Search Application" #input>
                  </mat-form-field>
                </span>
              </div>

              <!-- Table Body-->
              <table mat-table [dataSource]="employeeDataSource" matSort #sortTableOne="matSort"
                class="mat-elevation-z0 tableWidth">

                <!-- Sl. No Column -->
                <ng-container matColumnDef="slno">
                  <th mat-header-cell *matHeaderCellDef> Sl. No </th>
                  <td mat-cell *matCellDef="let row; let i=index"> {{i+1}} </td>
                </ng-container>

                <!-- Employee Name Column -->
                <ng-container matColumnDef="employee_name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Employee Name </th>
                  <td mat-cell [matTooltip]="row.employee_name" *matCellDef="let row"> {{row.employee_name}} </td>
                </ng-container>

                <!-- ID Column -->
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                  <td mat-cell [matTooltip]="row.id" *matCellDef="let row"> {{row.id}} </td>
                </ng-container>

                <!-- Age Column -->
                <ng-container matColumnDef="employee_age">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Age </th>
                  <td mat-cell [matTooltip]="row.employee_age" *matCellDef="let row"> {{row.employee_age}} </td>
                </ng-container>

                <!-- Salary Column -->
                <ng-container matColumnDef="employee_salary">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Salary </th>
                  <td mat-cell [matTooltip]="row.employee_salary" *matCellDef="let row">
                    &#x24; {{row.employee_salary|currencyPipe}} </td>
                </ng-container>

                <!-- Link Column -->
                <ng-container matColumnDef="details_page">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Link </th>
                  <td mat-cell *matCellDef="let row">
                    <a [routerLink]="['/dashboard/view-employee', row.id]" style="color: #1714ac"
                      matTooltip="View Employee">
                      Details Page -></a>
                  </td>
                </ng-container>

                <!-- Action Column -->
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef> Action </th>
                  <td mat-cell *matCellDef="let row">
                    <button [routerLink]="['/dashboard/edit-employee', row.id]" mat-icon-button
                      aria-label="Edit Action Button" matTooltip="Edit Employee">
                      <mat-icon [color]="'primary'">edit</mat-icon>
                    </button>
                    <button mat-icon-button aria-label="Delete Action Button" class="ml1" (click)="onDeleteClick(row)"
                      matTooltip="Delete Employee">
                      <mat-icon [color]="'warn'">delete</mat-icon>
                    </button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="8">No data found</td>
                </tr>
              </table>

              <mat-paginator #paginatorTableOne="matPaginator" [pageSizeOptions]="[10, 25, 100]"
                aria-label="Select page of applications">
              </mat-paginator>

            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>